
body
{
  font-family: 'Source Code Pro', monospace;
  .container
  {
    width: 80%;
  }

  hr
  {
    border-top: 1px solid #f05f05 !important;
    color: transparent;
  }

  nav
  {
    background-color: #f05f05 !important;
    box-shadow: none;

    .nav-wrapper
    {
      .brand-logo
      {
        font-size: 1.8rem;
      }
    }
  }

  table
  {
    tr
    {
      th
      {
        text-align: center !important;
      }
      td
      {
        text-align: center !important;
      }
    }
  }

  footer
  {
    background-color: #f05f05 !important;

  }


}